*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

header{
	display:flex;
	width:100vm;
	margin-top:40px;
	height:80px;
}

.Main_icon{
	width:20%;
	line-height:80px;
	border: 2px solid black;
}

.usAccount{
	display:flex;
	width:80%;
	justify-content:flex-end;
	line-height:80px;
	border: 2px solid black;
	margin-bottom:0px;
}

.usAccount > li > btn btn-outline-success {
	position: absolute; top: 100px; left: 80px;
}

.usAccount > li {
	margin-left:30px;
	margin-right:30px;
}

.usAccount > form > li {
	margin-left:30px;
	margin-right:30px;
}

.usAccount > form > li > input, a{
	border:none;
	width:100%;
	height: 40px;
	margin-top: 20px;
}

nav{
	display:flex;
	width:100vm;
	height:680px;
	justify-content:center;
	border: 2px solid black;
}

.slide > img{
	width:1920px;
	height:678px;
}

.submenu {
  list-style-type: none;
  display: none;
}

aside {
	width:20%;
	height:1600px;
	border: 2px solid black;
	float:left;
}

section {
	width:80%;
	height:1600px;
	border: 2px solid black;
	float:right;
}

.Item_List {
	margin-top:80px;
	margin-left:40px;
	margin-right:40px;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:350px 350px 350px 350px;
	display:grid;
	column-gap:15px;
	row-gap:15px;
}

.Item {
	background:white;
	border: 2px solid black;
	
}

.Item_image {
	border: 1px solid black;
}

.Item_image > img{
	width:290px;
	height:230px;
	margin-left:30px;
	margin-top:20px;
	margin-bottom:20px;
	object-fit: contain;
	object-fit:fill;
	border: 1px solid black;
}

.Item_explain {
	width:350px;
	height:60px;
	margin-top:10px;
	border: 1px solid black;
}
.collapsible {
	border: 2px solid black;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
.active,
.collapsible:hover {
	background-color: black;
}
.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
}
.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}
/*페이징 기능css*/
body {
	background-color: #fff;
	color: #333;
	font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

/* class to hide content visually leaving it available to screenreaders.
See notes in cookbook recipe. 
https://github.com/h5bp/html5-boilerplate/issues/1985#issuecomment-394096182
https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939 
*/
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.pagi {
	width:80%;
	float:right;
}

.pagination {
	justify-content:center;
	display:flex;
}

.pagination li {
	margin: 0 1px;
	display:flex;
}

.pagination a {
	display: block;
	padding: .5em 1em;
	border: 1px solid #999;
	border-radius: .2em;
	text-decoration: none;
}

.pagination a[aria-current="page"] {
	background-color: #333;
	color: #fff;
}
